<template name="MainPageLayout">
	

</template>
<!--
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Text Analysis Project</h4>
    <p class="list-group-item-text">this project deals with natural language processing</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">How to get fat project</h4>
    <p class="list-group-item-text">join my team to eat lots of fatty stuffs</p>
  </a>
</div>
-->