<template name="MainPageLayout">
	<div class = "ui two column grid tight">

		<div class="ui thirteen wide column" style="overflow:scroll;">
			<div class = "ui grid">

				{{> MyProject}}

				<div class = "ui center aligned container">
					<h2 class="ui horizontal divider header">
						<i class="spinner icon"></i>

						Project Exchange

					</h2>
					{{> Projects}}
				</div>

			</div>
		</div>
		<div class="ui three wide column" style="overflow:scroll;">
			<h2>Contacts</h2>
			{{> Contacts}}
		</div>
	</div>

</template>
<!--
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Text Analysis Project</h4>
    <p class="list-group-item-text">this project deals with natural language processing</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">How to get fat project</h4>
    <p class="list-group-item-text">join my team to eat lots of fatty stuffs</p>
  </a>
</div>
-->