<template name = "Header">
	<div class="ui grid" style="background-color:#212A42;height:200px;padding:40px 50px 0px 50px;">
		<div class="thirteen wide column">
			<div class="row">
				<a href="/events" style="text-decoration: none">
					<h1 class="ui header" style="font-size:5rem;color:#FFBA4C;">TeamUP</h1>
				</a>	
			</div>
			{{#if eventSelected}}
			<div class="ui sizer vertical segment">
				<div class="row">
					<h4 class="ui medium header" style="color: white;">Current Event: {{getEvent.name}}</h4>
				</div>
				<div class="row">
					<a href="/profile={{getEvent.owner}}" class="ui medium header" style="color: white;">Event Coordinator: {{getEventOwnerName}}</a>
				</div>
			</div>
			{{/if}}
		</div>
		<div class="right aligned three wide column">
			<div class="ui header">
				{{> loginButtons}}	
			</div>
		</div>
	</div>		
</template>

